@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f4f4f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Custom Sleek Scrollbar for Modal */
.custom-modal-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-modal-scrollbar::-webkit-scrollbar-track {
  background: #f8fafc;
}

.custom-modal-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

.custom-modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}